.lslide{width:500px!important}
.lSAction>a{
    background-image:url(../../images/controls.png)
}
span{
    color: blueviolet;
}
.lSSlideWrapper{max-width:500px;margin:auto;width:100%}
.imageContainer{width:100%;height:200px;position:relative}
.imageContainer img{height:100%}
.imageContainer img{position:absolute;inset:0;margin:0 auto}
#current{max-width:480px;margin:auto}